section {
  background-color: blue;
  border: 4px solid black;
  height: 400px;
  width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: lightcoral;
  border: 6px solid darkred;
  text-align: center;
  font-weight: bold;
  height: 200px;
  width: 200px;
}
